import "../engine.js" as engine;

Item {
	id: pacmanPointArrayProto;

	width: gameConsts.getCellWidth() * (gameConsts.getGridWidth() - 1);
	height: gameConsts.getCellHeight() * (gameConsts.getGridHeight() - 1);

$array_of_points

}
