import "../engine.js" as engine;

Item {
	id: pacmanPointArrayProto;

	width: gameConsts.getCellWidth() * (gameConsts.getFieldWidth() - 1);
	height: gameConsts.getCellHeight() * (gameConsts.getFieldHeight() - 1);

$array_of_points

}
